<h1>Optimize Keys</h1>
<%= form_with url: '/optimize', method: 'get' do %>
  <% %w(A A# B C C# D D# E F F# G G#).each do |key| %>
    <%= check_box_tag key.to_sym %>
    <%= label_tag key.to_sym, key %>
  <% end %>
  <input type="submit" value="Optimize!">
<% end %>

<% if @transposition_options %>
  <% @transposition_options.each_with_index do |transposition, i| %>
    <h3>Option <%= i + 1 %></h3>
    <p>capo position: <%= transposition.steps_down %></p>
    <% transposition.original_song.keys.each_with_index do |key, i| %>
      <p>Key <%= key.root %> becomes <%= transposition.new_song.keys[i].root %></p>
    <% end %>
  <% end %>
<% end %>
