<h1>Optimize Keys</h1>
<%= form_with url: '/optimize', method: 'get' do %>
  <span class="form-wrapper">
    <% %w(A A# B C C# D D# E F F# G G#).each do |key| %>
      <span class="check-box-wrapper">
        <span class="check-box-label"><%= label_tag key.to_sym, key %></span>
        <span class="check-box-field"><%= check_box_tag key.to_sym %></span>
      </span>
    <% end %>
  </span>
  <input type="submit" value="Optimize!">
<% end %>

<% if @transposition_options %>
  <% @transposition_options.each_with_index do |transposition, i| %>
    <h3>Option <%= i + 1 %></h3>
    <p>capo position: <%= transposition.steps_down %></p>
    <% transposition.key_mappings.each do |map| %>
      <p>Key <%= map[:original_key] %> becomes <%= map[:new_key] %></p>
    <% end %>
  <% end %>
<% end %>
